@mixin flexdisplay($justify) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
}
<<<<<<< HEAD


@mixin respond-to($media) {
    @if $media == 'mobile' {
        @media (max-width: 600px) { @content; }
    }
    // Add other media queries if needed
=======
@mixin gridDisplay($number-column){
    display: grid;
    grid-template-columns: $number-column;
    gap: 1rem;
}

@mixin smallcircle($border, $background) {
    margin-left: 6%;
    margin-top: 50px;
   top: 130px;
    width: 15rem;
    height: 230px;
    border: $border;
    border-radius: 50%;
    position: relative;
    background-color: $background;
    @media(max-width:600px) {
        width: 8rem;
        height: 130px;
        margin-top: -70px;
    }

>>>>>>> eebfc9b8350ad08678da7539c2dd591f61aa0c8e
}