#main_navigation {
  background-color: #A5DD9B;
  margin: 0;
}
#main_navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#main_navigation ul li {
  list-style: none;
  margin: 0 10px 0 10px;
}
#main_navigation ul li a {
  text-decoration: none;
  color: #006769;
}

body {
  margin: 0;
  padding: 0;
}