@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
#main_navigation {
  background-color: #A5DD9B;
  margin: 0;
}
#main_navigation ul {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#main_navigation ul .custom-hr {
  border-left: 2px solid #006769;
  height: 21px;
  position: relative;
  margin: 0;
  rotate: 21deg;
}
#main_navigation ul li {
  list-style: none;
  margin: 0 10px 0 10px;
}
#main_navigation ul li a {
  text-decoration: none;
  color: #006769;
}

#Main-header {
  background-color: #40A578;
  position: relative;
  height: 600px;
}
#Main-header .Header-Elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 100px;
}
#Main-header .Header-Elements h1 {
  width: 10%;
  position: absolute;
  left: 27%;
  font-size: 60px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  color: #E6FF94;
}
@media (max-width: 600px) {
  #Main-header .Header-Elements h1 {
    left: 7%;
    top: -60px;
  }
}
#Main-header .Header-Elements .first-header-circle {
  width: 28rem;
  height: 430px;
  border: 1px solid #E6FF94;
  border-radius: 50%;
}
@media (max-width: 600px) {
  #Main-header .Header-Elements .first-header-circle {
    width: 80%;
  }
}
#Main-header .second-header-Elements .second-circle-header {
  margin-left: 60%;
  margin-top: -100px;
  width: 15rem;
  height: 230px;
  border: 1px solid #E6FF94;
  border-radius: 50%;
  position: relative;
  background-color: #40A578;
}
@media (max-width: 600px) {
  #Main-header .second-header-Elements .second-circle-header {
    width: 40%;
    margin-top: -70px;
    margin-left: 55%;
  }
}
#Main-header .second-header-Elements .second-circle-header p {
  position: absolute;
  top: 45%;
  left: 10%;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  color: #E6FF94;
}

#main-section .thirdCycle {
  margin-left: 6%;
  margin-top: -100px;
  width: 15rem;
  height: 230px;
  border: 1px solid #40A578;
  border-radius: 50%;
  position: relative;
  background-color: #A5DD9B;
}
@media (max-width: 600px) {
  #main-section .thirdCycle {
    width: 8rem;
    height: 130px;
    margin-top: -70px;
  }
}
#main-section .thirdCycle p {
  text-align: center;
  font-size: 30px;
  width: 60%;
  position: absolute;
  top: 30%;
  left: 20%;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  color: #E6FF94;
}
@media (max-width: 600px) {
  #main-section .thirdCycle p {
    font-size: 18px;
  }
}
#main-section .forthCircle {
  margin-left: 6%;
  margin-top: -100px;
  width: 15rem;
  height: 230px;
  border: 1px solid #A5DD9B;
  border-radius: 50%;
  position: absolute;
  background-color: #40A578;
}
@media (max-width: 600px) {
  #main-section .forthCircle {
    width: 8rem;
    height: 130px;
    margin-top: -70px;
  }
}
#main-section .forthCircle p {
  text-align: center;
  font-size: 30px;
  width: 70%;
  position: absolute;
  top: 30%;
  left: 15%;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  color: #E6FF94;
}
@media (max-width: 600px) {
  #main-section .forthCircle p {
    font-size: 18px;
  }
}
#main-section .forfirstSec {
  overflow: hidden;
}
#main-section #second-section {
  width: 100%;
  max-height: 600px;
}
#main-section #second-section #calculate-section {
  width: 70%;
  margin-left: 15%;
  text-align: center;
  height: 600px;
  max-height: 600px;
  margin-top: -130px;
}
@media (max-width: 600px) {
  #main-section #second-section #calculate-section {
    width: 100%;
    margin-left: 0;
    margin-top: 1px;
    height: 500px;
  }
}
#main-section #second-section #calculate-section .inner-calculator {
  margin-top: 10%;
  position: relative;
}
#main-section #second-section #calculate-section .inner-calculator h1 {
  color: #006769;
  opacity: 0.7;
}
#main-section #second-section #calculate-section .inner-calculator h2 {
  color: #006769;
  font-weight: 100;
}
#main-section #second-section #calculate-section .inner-calculator p {
  color: #006769;
}
#main-section #second-section #calculate-section .inner-calculator form {
  display: grid;
  grid-template-columns: ifr;
  gap: 1rem;
  width: 60%;
  margin-left: 20%;
}
#main-section #second-section #calculate-section .inner-calculator form input[type=text] {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #006769;
  color: #E6FF94;
}
#main-section #second-section #calculate-section .inner-calculator form input[type=button] {
  width: 20%;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #006769;
  margin-left: 40%;
  color: #E6FF94;
  cursor: pointer;
}
#main-section .innertext {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  text-align: left;
}
#main-section .innertext :nth-child(1) {
  width: 50%;
  margin-top: 10%;
}
@media (max-width: 600px) {
  #main-section .innertext :nth-child(1) {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
  }
}
#main-section .innertext h1 {
  color: #006769;
  opacity: 0.7;
}
#main-section .innertext p {
  color: #006769;
}
#main-section .innertext ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: left;
}
#main-section .innertext ul li {
  color: #006769;
}
#main-section .bigCricleDown {
  position: absolute;
  display: flex;
  top: 35%;
  bottom: 0;
  margin-left: 56%;
  width: 47rem;
  height: 42rem;
  border-radius: 50%;
  border: 1px solid #40A578;
}
@media (max-width: 600px) {
  #main-section .bigCricleDown {
    display: none;
  }
}
#main-section #ThirdSection {
  width: 100%;
  max-height: 500px;
  background-color: #40A578;
  margin: 0;
  padding: 0;
}
#main-section #ThirdSection #Green-check {
  width: 70%;
  margin-left: 15%;
  text-align: center;
  height: 600px;
  max-height: 600px;
  position: relative;
}
@media (max-width: 600px) {
  #main-section #ThirdSection #Green-check {
    width: 100%;
    margin-left: 0;
    margin-top: 1px;
    height: 500px;
  }
}
#main-section #ThirdSection #Green-check .inner-calculator {
  position: absolute;
  margin-top: 100px;
  width: 100%;
  max-width: 100%;
  margin-left: 3%;
}
#main-section #ThirdSection #Green-check .inner-calculator h1 {
  color: #E6FF94;
  opacity: 0.7;
  font-size: 3rem;
}
#main-section #ThirdSection #Green-check .inner-calculator h2 {
  color: #E6FF94;
  font-weight: 100;
}
#main-section #ThirdSection #Green-check .inner-calculator p {
  color: #E6FF94;
}
#main-section #ThirdSection #Green-check .inner-calculator form {
  display: grid;
  grid-template-columns: ifr;
  gap: 1rem;
  width: 60%;
  margin-left: 20%;
}
#main-section #ThirdSection #Green-check .inner-calculator form input[type=text] {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #006769;
  color: #E6FF94;
}
#main-section #ThirdSection #Green-check .inner-calculator form input[type=button] {
  width: 20%;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #006769;
  margin-left: 40%;
  color: #E6FF94;
  cursor: pointer;
}
#main-section #ThirdSection .lastCircle {
  margin-left: 6%;
  margin-top: -200px;
  width: 15rem;
  height: 230px;
  border: 1px solid #40A578;
  border-radius: 50%;
  position: relative;
  background-color: #A5DD9B;
}
@media (max-width: 600px) {
  #main-section #ThirdSection .lastCircle {
    width: 8rem;
    height: 130px;
    margin-top: -70px;
  }
}
#main-section #ThirdSection .lastCircle p {
  text-align: center;
  font-size: 30px;
  width: 60%;
  position: absolute;
  top: 30%;
  left: 20%;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  color: #E6FF94;
}
@media (max-width: 600px) {
  #main-section #ThirdSection .lastCircle p {
    font-size: 18px;
  }
}
#main-section .overFooter {
  background-color: #40A578;
  top: 0;
  margin-top: -130px;
  border: 1px solid orange;
}
#main-section .overFooter .circleNo5 {
  background-color: #40A578;
  border: 1px solid #A5DD9B;
}
#main-section .overFooter .circleNo5 p {
  top: 20%;
}
#main-section .overFooter .lastParaf {
  margin-top: 30px;
  text-align: left;
}
#main-section .overFooter .lastParaf h1 {
  color: #E6FF94;
}
#main-section .overFooter .lastParaf p {
  color: #FFFFFF;
}
#main-section .overFooter .lastParaf .bigCriclelast {
  position: absolute;
  display: flex;
  top: 50%;
  bottom: 0;
  margin-left: 56%;
  width: 47rem;
  height: 42rem;
  border-radius: 50%;
  border: 1px solid #A5DD9B;
}
#main-section .overFooter .lastParaf .letsCreateBig {
  position: absolute;
  display: flex;
  top: 20%;
  bottom: 0;
  margin-left: 56%;
  width: 47rem;
  height: 42rem;
  border-radius: 50%;
  border: 1px solid #A5DD9B;
}
@media (max-width: 600px) {
  #main-section .overFooter .lastParaf .letsCreateBig {
    display: none;
  }
}
#main-section .overFooter .secondSmallCircle {
  margin-left: -10px;
  margin-top: 35%;
  width: 15rem;
  height: 230px;
  border: 1px solid #E6FF94;
  border-radius: 50%;
  position: relative;
  background-color: #40A578;
}
@media (max-width: 600px) {
  #main-section .overFooter .secondSmallCircle {
    display: none;
  }
}
#main-section .circleno3 {
  margin-left: 6%;
  margin-top: 50px;
  top: 130px;
  width: 15rem;
  height: 230px;
  border: 1px solid #A5DD9B;
  border-radius: 50%;
  position: relative;
  background-color: #40A578;
  top: 2000px;
  position: absolute;
}
@media (max-width: 600px) {
  #main-section .circleno3 {
    width: 8rem;
    height: 130px;
    margin-top: -70px;
  }
}
@media (max-width: 600px) {
  #main-section .circleno3 {
    top: 2150px;
  }
}
#main-section .circleno3 p {
  text-align: center;
  font-size: 30px;
  width: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  color: #E6FF94;
}
@media (max-width: 600px) {
  #main-section .circleno3 p {
    font-size: 18px;
  }
}

footer .innerFooter, #main-section .thirdCycle p, #main-section .forthCircle p, #main-section #second-section #calculate-section .inner-calculator h1, #main-section #second-section #calculate-section .inner-calculator h2, #main-section #second-section #calculate-section .inner-calculator p, #main-section .innertext h1, #main-section .innertext p, #main-section .innertext ul li, #main-section #ThirdSection #Green-check .inner-calculator h1, #main-section #ThirdSection #Green-check .inner-calculator h2, #main-section #ThirdSection #Green-check .inner-calculator p, #main-section #ThirdSection .lastCircle p, #main-section .circleno3 p {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

footer .innerFooter .thirdSec form input[type=email] {
  border-radius: 30px;
  border: none;
}

footer {
  background-color: #40A578;
  padding: 0 0 30px 0;
}
footer .innerFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 90%;
  margin-left: 5%;
  color: #FFFFFF;
}
footer .innerFooter .thirdSec form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
footer .innerFooter .thirdSec form input[type=email] {
  background-color: #E6FF94;
  height: 21px;
}
footer .innerFooter .thirdSec form input[type=button] {
  width: 100px;
  border: 1px solid #A5DD9B;
  border-radius: 30px;
  background-color: #40A578;
  color: #E6FF94;
}

body {
  margin: 0;
  padding: 0;
  background-color: #A5DD9B;
}