
footer {
    background-color: $header_background;
    padding: 0 0 30px 0;
    .innerFooter{
        @include gridDisplay(1fr 1fr 1fr 1fr);
        width: 90%;
        margin-left: 5%;
        color: $lightParaf;
        @extend %fontFamily;
        @media(max-width:600px){
            @include gridDisplay(1fr 1fr);
        }
        .thirdSec{
            form { 
                @include gridDisplay(1fr);
                input[type=email]{
                    background-color: $fontH1;
                    height: 21px;
                    @extend %buttonForm;
                }
                input[type=button] {
                   @include MyButton;
                }
            }
        }
        .forthSec{
            @include smallcircle(1px solid $nav_Background, $header_background); 
            position: relative;
            margin-top: -100px;
            width: 8rem;
            height: 120px;
            @media(max-width:600px){
                display: none;
            }
            .footerCircle{
                @include smallcircle(1px solid $nav_Background, $header_background); 
                position: relative;
                margin-top: -170px;
                margin-left: 100px;
                width: 5rem;
                height: 80px;
            }
            p{
                color: $nav_Background;
                text-align: center;
                margin-top: 40px;
                .firstSpan{
                        font-size: 30px
                    
                }
            }
        }
    }
}