
#Main-header{
    background-color: $header_background;
    position: relative;
    height: 600px;
    .Header-Elements{
        @include flexdisplay(center);
       position: relative;
       top: 100px;
        h1{
            width: 10%;
            position: absolute;
            left: 27%;
            font-size: 60px;
            font-family: "Ubuntu Mono", monospace;
            font-weight: 400;
            color: $fontH1;
            @media(max-width:600px) {
                left: 7%;
                top: -60px;
            }
        }
 
        .first-header-circle{
            width: 28rem;
            height: 430px;
            border: 1px solid #E6FF94;
            border-radius: 50%;
            @media(max-width:600px) {
                width: 80%;
            }
        }
    }
    .second-header-Elements {
        .second-circle-header{
            margin-left: 60%;
            margin-top: -100px;
            width: 15rem;
            height: 230px;
            border: 1px solid #E6FF94;
            border-radius: 50%;
            position: relative;
            background-color: $header_background;
            @media (max-width:600px) {
                width: 40%;
                margin-top: -70px;
                margin-left: 55%;
            }
            p{
                position: absolute;
                top: 45%;
                left: 10%;
                font-family: "Ubuntu Mono", monospace;
                font-weight: 400;
                color: $fontH1;
            }
        }
    }
}
